<section class="ticket-section">
  <div class="ticket-section__header">
    <div class="left">
      <h2>Tiket Terbaru</h2>

      <p>Status terbaru tiket Anda.</p>
    </div>
    <div class="right">
      <button z-button zType="outline" class="btn_clear_ticket" (click)="clearTicket()">
        Clear Ticket
      </button>
    </div>
  </div>

  <div class="ticket-section__list">
    @for (ticket of tickets(); track ticket.key) {
      <app-ticket-card [ticket]="ticket" (clicked)="openTicket($event)"> </app-ticket-card>
    }
  </div>
</section>
