<z-card class="ticket-card" (click)="selectTicket()">
  <div class="ticket-card__header">
    <div class="ticket-card__identity">
      <span class="ticket-card__key">
        {{ ticket.key }}
      </span>

      <h3 class="ticket-card__title">
        {{ ticket.summary }}
      </h3>

      <div class="ticket-card__meta">
        <span>{{ ticket.issueType }}</span>

        <span>•</span>

        <span>{{ ticket.lastUpdated }}</span>
      </div>
    </div>

    <span
      class="ticket-dialog__status"
      [style.background]="statusConfig[ticket.status]?.color + '15'"
      [style.color]="statusConfig[ticket.status]?.color"
    >
      {{ ticket.status }}
    </span>
  </div>
</z-card>
